
@import (less) "includes/normalize.min.css";
@import (less) "includes/fonts.css";

@color1: #ff7b1e;
@color2: #0053a3;

@wrapper: 61.25em;

@bgr-lightgrey: #eff3f7;
@bgr-grey: #e8eef5;
@bgr-darkgrey: #dde5ee;

@ff-regular: "Roboto", Helvetica, Arial;
@ff-light: "Roboto Light", Helvetica, Arial;

// Go to rems when dropping IE8 support
@bc: #7c848b;
@fs-base: 100%;
@fs-larger: 1.25em;
@fs-large: 1.125em;
@fs-medium: 1em;
@fs-small: 0.875em;
@fs-smaller: 0.8125em;

@fs-h1: 2.1875em;
@fs-h2: 1.5625em;
@fs-h3: @fs-larger;
@fs-h4: @fs-large;
@fs-h5: @fs-large;
@fs-h6: @fs-medium;
@color-h-alt: #27394b;

@brdr-medium: 5px;
@brdr-small: 4px;

// Breaking points - no need for 480px since we start mobile first
@bp-tablet: 48em;
@bp-desktop: 61.25em;
@bp-desktop-large: 75em;

.transition-default {-webkit-transition: all .15s ease-in-out;-moz-transition: all .15s ease-in-out;transition: all .15s ease-in-out;}
.transition-none {-webkit-transition: none;-moz-transition: none;transition: none;}

// Based on HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/
html, button, input, select, textarea {color: #222; }
html {font-size: 1em; line-height: 1.4; }
::-moz-selection {background: #b3d4fc; text-shadow: none; }
::selection {background: #b3d4fc; text-shadow: none; }
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, img, video {vertical-align: middle; }
fieldset {border: 0; margin: 0; padding: 0; }
textarea {resize: vertical; }
.browsehappy {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; } 

// General layout and color
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {font-size: @fs-base; color: @bc; font-family: @ff-regular;}
a {color: @color2;}
a, a:hover {text-decoration: none;} a:hover {color: @bc;}
h1, h2, h3, h4, h5, h6 {font-weight: 400;}
h1, .title {font-size: @fs-h1;}
h2 {font-size: @fs-h2}
h3 {font-size: @fs-h3}
h4 {font-size: @fs-h4}
h5 {font-size: @fs-h5}
h6 {font-size: @fs-h6}

ul.inline {margin: 0; padding: 0; list-style: none; li{display: inline-block;}}

.btn {
    display: inline-block; font-size: @fs-medium; line-height: @fs-medium;color: @bc; .transition-default;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea, select {background: #f9fafc; border-radius: @brdr-medium; box-shadow: 0 -2px 0 white inset; border: 2px solid #d8e0ea; padding: 8px 10px; width: auto; color: @bc; height: 40px;-webkit-appearance: none; }
select {-webkit-appearance: button; -moz-appearance: none; text-indent: 0.01px;text-overflow: ''; appearance: button; background-image: url(../img/select_dropdown.png); background-repeat: no-repeat; background-position: right 9px; cursor: pointer; padding-right: 35px;background-image: none/9;}
select::-ms-expand{display: none; }
textarea {height: auto; min-height: 100px;}
input:focus {outline: 0; border-color: @color2;}

// Content
.wrapper {width: 100%; padding: 0 3%;}

.main-header {

}

.main-content {
}

.main-footer {

}

// Simple grid and @media depending sizes
.row > * {float: left; padding-left: 10px; padding-right: 10px;}
.row .whole {width: 100%;}
.row .half {width: 50%;}
.row .third {width: 33.33333333333333%;}
.row .fourth {width: 25%;}
.row .fifth {width: 20%;}
.row .sixth {width: 16.66666666666667%;}

.pull-left {float: left;}
.pull-right {float: right;}
img.pull-left {margin: 0 15px 15px 0}
img.pull-right {margin: 0 0 15px 15px}

.text-center {text-align: center;}
.text-color1 {color: @color1;}
.text-color2 {color: @color2;}

.text-right {text-align: right}
.text-left {text-align: left;}

@media only screen and (min-width: @bp-tablet) {
    // General helpers
    .row > * {margin: 0 0 15px 0;}
    .row {
        .m-whole {width: 100%;}
        .m-half {width: 50%;}
        .m-third {width: 33.33333333333333%;}
        .m-fourth {width: 25%;}
        .m-fifth {width: 20%;}
        .m-sixth {width: 16.66666666666667%;}
    }

    .m-pull-left {float: left;}
    .m-pull-right {float: right;}

    .m-text-right {text-align: right}
    .m-text-left {text-align: left;}

    .m-text-center {text-align: center;}

    // Content
}

@media only screen and (min-width: @bp-desktop) {
    // General helper classes
    .wrapper {width: @wrapper; padding: 0; margin: 0 auto;}

    .row {
        .l-whole {width: 100%;}
        .l-half {width: 50%;}
        .l-third {width: 33.33333333333333%;}
        .l-fourth {width: 25%;}
        .l-fifth {width: 20%;}
        .l-sixth {width: 16.66666666666667%;}
    }

    .l-pull-left {float: left;}
    .l-pull-right {float: right;}

    .l-text-right {text-align: right}
    .l-text-left {text-align: left;}

    .l-text-center {text-align: center;}

    .mobile-trigger {display: none}
    .mobile-menu {display: inline;}
    
    // Content classes
}

@media only screen and (min-width: @bp-desktop-large) { 

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.text-large {font-size: @fs-h2}
.text-light {font-family: @ff-light;}

.relative {position: relative;}

.mt0 {margin-top: 0} .mb0 {margin-bottom: 0} .ml0 {margin-left: 0} .mr0 {margin-right: 0} .mt5 {margin-top: 5px;} .mt10 {margin-top: 10px;} .mt15 {margin-top: 15px;} .mt20 {margin-top: 20px;} .mt25 {margin-top: 25px;} .mt30 {margin-top: 30px;} .mt40 {margin-top: 40px;} .mt50 {margin-top: 50px;} .mt60 {margin-top: 60px;} .mt70 {margin-top: 70px;} .mt80 {margin-top: 80px;} .mb5 {margin-bottom: 5px;} .mb10 {margin-bottom: 10px;} .mb15 {margin-bottom: 15px;} .mb20 {margin-bottom: 20px;} .mb25 {margin-bottom: 25px;} .mb30 {margin-bottom: 30px;} .mb40 {margin-bottom: 40px;} .mb50 {margin-bottom: 50px;} .mb60 {margin-bottom: 60px;} .mb70 {margin-bottom: 70px;} .mb80 {margin-bottom: 80px;} .mr5 {margin-right: 5px;} .mr10 {margin-right: 10px;} .mr15 {margin-right: 15px;} .mr20 {margin-right: 20px;} .mr25 {margin-right: 25px;} .mr30 {margin-right: 30px;} .mr40 {margin-right: 40px;} .mr50 {margin-right: 50px;} .mr60 {margin-right: 60px;} .mr70 {margin-right: 70px;} .ml5 {margin-left: 5px;} .ml10 {margin-left: 10px;} .ml15 {margin-left: 15px;} .ml20 {margin-left: 20px;} .ml25 {margin-left: 25px;} .ml30 {margin-left: 30px;} .ml40 {margin-left: 40px;} .ml50 {margin-left: 50px;} .ml60 {margin-left: 60px;} .ml70 {margin-left: 70px;}

.ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before {content: ""; display: block; width: 0; height: 150%; }
.hidden {display: none !important; visibility: hidden; }
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible {visibility: hidden; }
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .row:before, .row:after {content: " "; display: table; }
.clearfix:after, .wrapper:after, .row:after {clear: both; }
.clearfix, .wrapper, .row {*zoom: 1; }

// Print
@media print {
    * {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited {text-decoration: underline; }
    a[href]:after {content: " (" attr(href) ")"; }
    abbr[title]:after {content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""; }
    pre, blockquote {border: 1px solid #999; page-break-inside: avoid; }
    thead {display: table-header-group; }
    tr, img {page-break-inside: avoid; }
    img {max-width: 100% !important; }
    @page {margin: 0.5cm; }
    p, h2, h3 {orphans: 3; widows: 3; }
    h2, h3 {page-break-after: avoid; } 
}