
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {{#if production}}<link rel="stylesheet" href="css/{{ name }}.min.css">
        {{else}}<link rel="stylesheet" href="css/{{ name }}.css">{{/if}}

        <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="main-header" id="header">
            <div class="wrapper">
                <div class="mobile-menu">
                Header
                    <nav>
                        <ul> 
                          <li {{#is basename "index"}} class="active"{{/is}}> <a href ="index.html" > Home</a ></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        {{> body}}
        <footer class="main-footer" id="footer">
            <div class="wrapper">
                Footer
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <!--{{#is basename "admin"}}<script src="js/plugins/script.js"></script>{{/is}}-->
        {{#if production}}<script src="js/includes.min.js"></script>
        {{else}}<script src="js/includes.js"></script>{{/if}}
        {{#if production}}<script src="js/{{ name }}.min.js"></script>
        {{else}}<script src="js/{{ name }}.js"></script>{{/if}}
    </body>
</html>
